<html lang="ru">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <p>Выберите таблицу</p>
    <select id="selectid">
        <option selected disabled>Выберите таблицу</option>
        <option id="f1" value="lecturer">Lecturer</option>
        <option id="f2" value="student">Student</option>
        <option id="f3" value="department">Department</option>
        <option id="f4" value="faculty">Faculty</option>
        <option id="f5" value="marks">Marks</option>
    </select>
<form class = "form" id="formlecturer">
    <b>Имя</b><input name='name' type="text">
    <b>Кафедра</b><input name='dep'type="text">
    <b>Должность</b><input name='work' type="text">
    <b>Стаж работы</b><input name='time' type="text">
    <input class="addbutton" type="submit">
</form>
<form class = "form" id="formstudent">
    <b>Имя</b><input name='name' type="text">
    <b>Факультет</b><input name='fac' type="text">
    <b>Кафедра</b><input name='dep' type="text">
    <b>Год обучения</b><input name='year' type="text">
    <input class="addbutton" type="submit">
</form>
<form class = "form" id="formdepartment">
    <b>Название</b><input name='name' type="text">
    <b>Факультет</b><input name='fac' type="text">
    <b>Телефон</b><input name='num' type="text">
    <b>Количество преподавателей</b><input name='amount' type="text">
    <b>Глава</b><input name='head' type="text">
    <input class="addbutton" type="submit">
</form>
<form class = "form" id="formfaculty">
    <b>Название</b><input name='name' type="text">
    <b>Дата основания</b><input name='date' type="text">
    <b>Количество студентов</b><input name='amount' type="text">
    <b>Глава</b><input name='head' type="text">
    <input class="addbutton" type="submit">
</form>
<form class = "form" id="formmarks">
    <b>Студент</b><input name='stud' type="text">
    <b>Преподаватель</b><input name='lect' type="text">
    <b>Оценка</b><input name='mark' type="text">
    <b>Дата</b><input name='date' type="text">
    <b>Предмет</b><input name='subj' type="text">
    <input class="addbutton" type="submit">
</form>
<script>
    $('.form').hide();
    $("#selectid").change(function () {
        $('.form').hide();
        var tablestr = $("#selectid option:selected").val();
        $("#form" + tablestr).toggle();
        console.log(tablestr);
    });
    $(".addbutton").click(function () {
        var tablestr = $("#selectid option:selected").val();
        $.post('/add',{
            table : tablestr,
            form :  $("#form" + tablestr).serialize()
        },function () {
        });
    });

</script>

</body>
</html>