<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <p>Выберите таблицу</p>
    <select id="selectid">
        <option selected disabled>Выберите таблицу для удаления</option>
        <option id="f1" value="lecturer">Lecturer</option>
        <option id="f2" value="student">Student</option>
    </select>
    <input type="text" id="delete" class="dlt"><input type="button" value="Нажмите" id="deletebutton" class="dlt">
<script>
    //http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js
    /*$("#f1").click(function () {
        $('.form').hide();
        $('#formlecturer').toggle();
    });
    $("#f2").click(function () {
        $('.form').hide();
        $('#formstudent').toggle();
    });*/
    $('.dlt').hide();
    $("#selectid").change(function () {
        $('.dlt').show();
    });
    $("#deletebutton").click(function () {
        var tablestr = $("#selectid option:selected").val();
        $.get('/delete',{
            table : tablestr,
            id :  $("#delete").val()
        },function (data) {
            $('#delete').val('');
            console.log(data);
        });
    });

</script>

</body>
</html>