<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
</head>
<body>
<div class="message_holder" id="placeh"></div>
<input class="btn_holder" type="button" value="Кафедры" id="departmentbutton">
<input class="btn_holder" type="button" value="Студенты" id="studentbutton">
<input class="btn_holder" type="button" value="Факультеты" id="facultybutton">
<input class="btn_holder" type="button" value="Оценки" id="marksbutton">
<input class="btn_holder" type="button" value="Преподаватели" id="lecturerbutton">
<input class="btn_holder" type="button" value="Добавить" id="addbutton" onclick="window.location.href = '/addform'">
<table class="tbl" id="departmenttable" border="1"></table>
<table class="tbl" id="studenttable" border="1"></table>
<table class="tbl" id="facultytable" border="1"></table>
<table class="tbl" id="markstable" border="1"></table>
<table class="tbl" id="lecturertable" border="1"></table>

<script>
    $(document).on("click",".deletebutton",function () {
        var delinfo = this.id.split("_");
        var tbl = delinfo[0];
        var iddel = delinfo[1];
        $.get('/delete',{
            table:tbl,
            id:iddel
        },function (data) {
            console.log(data);
        });
    });
    $(document).on("click",".changebutton",function () {
        var delinfo = this.id.split("_");
        var tbl = delinfo[0];
        var idchng = delinfo[1];
        var elemclass = tbl + '_' + idchng;
        $('.'+elemclass).each(function () {
            $(this).replaceWith("<input type='text' class="+ elemclass +"_inputs value="+ $(this).html() + ">")
        });
        //$('.'+elemclass).replaceWith("<input type='text' class="+ elemclass +"_inputs value="+ this.value + ">");
        $('.'+elemclass+"_inputs").last().after("<input type='button' value='Применить' class='replace' id="+ elemclass +"_replace >");
    });
    $(document).on("click",".replace",function () {
        var delinfo = this.id.split("_");
        var tbl = delinfo[0];
        var idchng = delinfo[1];
        var elemclass = tbl + '_' + idchng;
        $.get('/change',{
            table:tbl,
            id:idchng
        },function (data) {
            console.log(data);
        });
        $('.'+elemclass+'_inputs').each(function () {
            $(this).replaceWith("<td class="+ elemclass +">"+ $(this).val() +"</td>")
        });
        $('#'+elemclass+'_replace').remove();
    });
    $("#departmentbutton").click(function () {
        $(".tbl").hide();
        $("#departmenttable").show();
    });
    $("#studentbutton").click(function () {
        $(".tbl").hide();
        $("#studenttable").show();
    });
    $("#facultybutton").click(function () {
        $(".tbl").hide();
        $("#facultytable").show();
    });
    $("#marksbutton").click(function () {
        $(".tbl").hide();
        $("#markstable").show();
    });
    $("#lecturerbutton").click(function () {
        $(".tbl").hide();
        $("#lecturertable").show();
    });
    $(document).ready(function () {
    var tables = ['department','student','faculty','marks','lecturer'];
    tables.forEach(function(item){
        $("#"+item+"table").empty();
        $.getJSON('/data', {
                table: item
            },
            function (data) {
                var str = "";
                var result = data.result;
                var names = data.columns;
                var id =0;
                str += "<tr>";
                $.each(names,function (key, val) {
                    if(key == 0 && item=='marks')
                        str = str + ("<td>" + val + "</td>");
                    else if(key!=0)
                        str = str + ("<td>" + val + "</td>");
                });
                str+="</tr>";
                var row = 0;
                for (var i = 0; i < result.length; i++) {
                    str += "<tr>";
                    row += 1;
                    $.each(result[i], function (key, val) {
                        if(key == 0 && item == 'marks'){
                            id = val;
                            str = str + ("<td class=" + item + "_" + id + ">" + val + "</td>");
                        }
                        else if(key == 0){
                            id = val;
                        }
                        else {
                            str = str + ("<td class=" + item + "_" + id + ">" + val + "</td>");
                        }
                    });
                    str += "</tr>";
                    var elemid = item+ "_" + id;
                    var delbutton = '<input class="deletebutton" type="button" value="Удалить" id=' + elemid + '>';
                    if(item != 'marks'){
                    var chbutton =  '<input class="changebutton" type="button" value="Изменить" id=' + elemid + '_change>';}
                    $("#"+item+"table").append(str);
                    $("#"+item+"table").append(delbutton);
                    $("#"+item+"table").append(chbutton);
                    str = "";
                }
            });
    });
    $(".tbl").hide();
    $("#facultytable").show();
    });

</script>
</body>

</html>